<div ng-controller="editUser">
  <form class="edit_user">
    <input type="text" name="job" ng-model="user.job">
    <input type="text" name="golfCourse" ng-model="user.golfCourse" >
    <input type="text" name="handicap" ng-model="user.handicap">
    <input type="text" name="description" ng-model="user.description">
    <input type="submit">
  </form>
</div>