<div ng-app="app.golfApp" ng-controller="usersController">

<a href="/auth/linkedin" class="oauth_linkedin"><img src="http://test.salesloft.com/wp-content/themes/salesloft/images/button.linkedin.png"></a>
</div>

