<div ng-controller="usersController" class="user">

  <form ng-submit="createParameters()" ng-show="doneSearch==false" class="preferences_form">

    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input type="text" class="form-control" ng-model="searchIndustry" placeholder="Search for an industry">
    </div>

    <div class="industries">
      <div ng-repeat="industry in industries | orderBy: 'name' | filter: searchIndustry" class="checkbox checkbox-success industry_name">
        <input type="checkbox" value="{{industry.id}}" name="preference">
        <span>{{industry.name}}</span>
      </div>
    </div>

    <div id="slider">
      <h3> Range </h3>
      <input class="bar range" name="range" type="range" id="rangeinput" value="10" onchange="rangevalue.value=value+' miles'" step="50" min="50" max="10000"/>
      <span class="highlight"></span>
      <output id="rangevalue">50 miles</output>
      <button type="submit" class="search_users"><i class="fa fa-search fa-2x"></i></button>
    </div>
  </form>

  <div class="user_selection">

    <div ng-repeat="h in users" class="user{{user.id}} container-fluid">
      <div class="user_display">
        <img class="profile_picture" src="{{users[0].picture_url}}">
        <span class="username">{{users[0].name}}</span> (<i>{{users[0].location_city}}  {{users[0].location_state}}</i>)

        <div class="info_img">
          <div class="info">
            <div class="professional_info">
              <p class="title"> {{users[0].job}}</p>
              <div class="jobs">
                <b> Jobs </b>
                <div ng-repeat="job in users[0].jobs">
                  <p>{{job.title}} @ {{job.company_name}} </p>
                </div>
              </div>
              <div class="education">
                <b> Specialties </b>
                <div>
                  <p>{{users[0].specialty}}</p>
                </div>
              </div>
            </div>

            <div class="golf_info">
              <p> Loves to play at {{users[0].golfcourse}} </p>
              <p> Handicap Index {{users[0].handicap}}</p>
              <p>Rounds played a year {{users[0].rounds_played}}</p>
              <p> Golf clubs member at {{users[0].member_at}}</p>
              <p> Favorite club in the bag {{users[0].favorite_club}}</p>
            </div>
          </div>
        </div>
        <button ng-click="createConnection(users[0])" class="upvote">Upvote</button>
        <button ng-click="createDisconnection(users[0])">Pass</button>
      </div>

    </div>

    <div class="user" ng-show="noUsers">
      <div class="user_display">
       <h1> No users to display for the moment </h1>
     </div>
   </div>
 </div>

</div>
<script type="application/javascript">
function getIP(json) {
  console.log('was here')
LOCATION = json.ip;
console.log('and '+ LOCATION + 'worked')
}
</script>

<script type="application/javascript" src="http://api.ipify.org?format=jsonp&callback=getIP"></script>
