<div ng-controller="usersController">

  <form ng-submit="createPreferences()" id="prefs" ng-show="doneSearch==false">
    <div ng-repeat="industry in industries">
      <input type="checkbox" value="{{industry.id}}" name="preference" class="checkradio">
      <span>{{industry.name}}</span>
    </div>
   <input type="submit">
  </form>

  <div class="user" ng-show="users.length > 0">
    <h1>{{users[0].name}}</h1>
    <div class="professional_info">
      <p>{{users[0].job}}</p>
      <p>{{users[0].location}}</p>
    </div>

    <div class="golf_info">
    </div>
    <img ng-src="{{users[0].picture_url}}">
    <button ng-click="createConnection(users[0])">Yes</button>
  </div>

  <div ng-show="noUsers==true">
    <h1> No users to display for the moment </h1>
  </div>

</div>

