<div ng-controller="FriendsCtrl" id="fullpage">
  <div class="section" id="section1">
    <div class="slide" id="slide1">
      <div class="user">
        <div class="user_display row-fluid">
          <img class="profile_picture" ng-src="{{currentUser.picture_url}}">
          <span class="username">{{currentUser.name}}</span> (<i>{{currentUser.location_city}}  {{currentUser.location_state}}</i>)<a href="/users/{{currentUser.id}}/edit"> Edit profile </a>
          <div class="info_img">
            <div class="info">
              <div class="professional_info">
                <p class="title"> {{currentUser.job}}</p>
                <div class="jobs">
                  <b> Jobs </b>
                  <div ng-repeat="job in currentUser.jobs">
                    <p>{{job.title}} @ {{job.company_name}} </p>
                  </div>
                </div>
                <div class="education">
                  <b> Specialties </b>
                  <div>
                    <p>{{currentUser.specialty}}</p>
                  </div>
                </div>
                <div class="add_info">
                  <p>{{currentUser.email}}</p>
                </div>
              </div>

              <div class="golf_info1">
                <p> Loves to play at {{currentUser.golfcourse}} </p>
                <p> Handicap Index {{currentUser.handicap}}</p>
                <p>Rounds played a year {{currentUser.rounds_played}}</p>
                <p> Golf clubs member at {{currentUser.member_at}}</p>
                <p> Favorite club in the bag {{currentUser.favorite_club}}</p>
                <div class="add_info">
                  <p>Available on {{currentUser.availability}}</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>