
<main class="bs-docs-masthead" id="content" role="main">
  <h1>HEY</h1>
  <a href="/auth/linkedin"><img src="http://test.salesloft.com/wp-content/themes/salesloft/images/button.linkedin.png" class="oauth_linkedin"></a>
</main>
