<div class="user_selection row" ng-controller="FriendsCtrl">

    <div ng-repeat="user in friends" class="user user{{user.id}}">
      <div class="user_display">
        <img class="profile_picture" src="{{user.picture_url}}">
        <span class="username">{{user.name}}</span> (<i>{{user.location_city}}  {{user.location_state}}</i>)

        <div class="info_img">
          <div class="info">
            <div class="professional_info">
              <p class="title"> {{user.job}}</p>
              <b> Jobs </b>
              <div class="jobs" ng-repeat="job in user.jobs">
                <p>{{job.title}} @ {{job.company_name}} </p>
              </div>
              <div class="education">
                <b> Specialties </b>
                <p>{{user.specialty}}</p>
              </div>
              <div class="add_info">
                <p>{{user.email}}</p>
              </div>
            </div>

            <div class="golf_info1" style="margin-top: 0px;">
              <p> Loves to play at {{user.golfcourse}} </p>
              <p> Handicap Index {{user.handicap}}</p>
              <p>Rounds played a year {{user.rounds_played}}</p>
              <p> Golf clubs member at {{user.member_at}}</p>
              <p> Favorite club in the bag {{user.favorite_club}}</p>
              <div class="add_info">
                <p> Available on {{user.availability}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
 </div>